body,h1 {
    font-family: "Raleway", sans-serif;
    --tab-width: 14rem;
    --def: rgb(78, 78, 75);
    --inv: rgb(255, 255, 255);
}

body, html {
    height: 100%
}

.background-img {
    background-image: url('../figs/golden-gate-bridge-2608500.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.w3-display-position{
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -20%);
}
.text-color {
    color: var(--def);
}
.homeNames{
	color: white;
	/*fill:white;*/
}
.jumbo {
    font-size: 3rem;
}

.uppercase {
    text-transform: uppercase;
}

.small-line-size {
    margin: auto;
    width: 20%
}

#project-portal {
    cursor: pointer;
}

/* From Left */

.tab {
	position: relative;
	padding: 1rem;
	width: var(--tab-width);
	text-align: center;
	font-size: 1rem;
	color: var(--inv);
	letter-spacing: .5rem;
	text-transform: uppercase;
	transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
	cursor: pointer;
	user-select: none;
	z-index: 1;
}

.tab:before, .tab:after {
	content: '';
	position: absolute;
	transition: inherit;
	z-index: -1;
}

.tab:hover {
	color: var(--def);
}

.tab:hover:before {
	transition-delay: 0s;
}

.tab:hover:after {
	background: var(--inv);
	opacity: 0.4;
}

.btn {
	position: relative;	
	padding: 1.4rem 4.2rem;
	padding-right: 3.1rem;
	font-size: 1.4rem;
	color: var(--inv);
	letter-spacing: 1rem;
	text-transform: uppercase;
	transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
	cursor: pointer;
	user-select: none;
	width: 50%;
	left: 25%;
	z-index: 1;
}

.btn:before, .btn:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.btn:hover {
	color: var(--def);
	transition-delay: .6s;
}

.btn:hover:before {
	transition-delay: 0s;
}

.btn:hover:after {
    background: var(--inv);
    opacity: .4;
	transition-delay: .4s;
}


.from-left:before, 
.from-left:after {
	top: 0;
	width: 0;
	height: 100%;
}

.from-left:before {
	right: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;	
}

.from-left:after {
	left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
	width: 100%;
}